:root {
  --bg: #010101;
  --gray: #141414;
  --light-gray: #707070;
  --text: #f0f0f0;
  --card: rgba(26, 26, 26, 0.25);
  --shadow:rgba(211, 211, 211, 0.1);

  
}
@font-face {
  font-family: 'unicase';
  src: url('/fonts/CormorantUnicase-Bold.ttf') format('truetype');
}

html, body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #000000, #1a1a1a);
  background-repeat: no-repeat;
  color: var(--text)
}


