:root {
  --bg: #eae6e0;
  --card-text: hsl(0, 0%, 89%);
  --gray: #2c2627;
  --light-gray: #929292;
  --text: #151618;
  --card: rgba(26, 26, 26, 0.25);
  --shadow:rgba(211, 211, 211, 0.1);
  --gold: #e48f1198;
  --modal: #010101ef;
  --main-title: #151618;

  
}
@font-face {
  font-family: 'unicase';
  src: url('/fonts/CormorantUnicase-Bold.ttf') format('truetype');
}

html, body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  background-image: url('/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text)
}


